body{
    font-family: 'Roboto', sans-serif;
    
}
.chart div{
    background: blue;
}


.header{
color: #e6ffff;
background: rgb(0,188,212);

}
.header h1, h2{
    text-align: center
}
.center{
    text-align: center;
}


